<div class="navbar">
  <div class="navbar-inner">
  	<h4 class="pull-left">{{pageTitle}}</h4>
  	<ul class="nav">
       <li><a href="#insert"><i class="icon-plus"></i> Adicionar</a></li>
    </ul>
    <form class="form-search navbar-search pull-right" action="#" method="POST">
		  <div class="input-append">
		    <input type="text" class="span2 search-query" placeholder="Digite aqui sua pesquisa">
		    <button type="submit" class="btn"><i class="icon-search"></i></button>
		  </div>
    </form>
  </div>
</div>